//styling

body {
  background-color: rgb(214, 202, 229);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;

  @media screen and (max-width: 768px) {
    margin: 0 50px;
  }
}


//den presenterade datan i kurslistan
.course-list {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  list-style-type: none;
  padding: 0;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
  }

  th {
    background-color: rgb(165, 36, 165);
    color: white;
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  td {
    font-size: 16px;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(165, 36, 165);
    color: white;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.search-input {
  padding: 10px;
  width: 98%;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: rgb(165, 36, 165);
    outline: none;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.course-item {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.button-container {
  margin-top: 20px;

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}