<h2 class="section-title">Ramschema</h2>

<div class="search-container">
  <input class="search-input" type="text" placeholder="Sök ..." [(ngModel)]="searchTerm" (input)="applyFilter()">
</div>


<div class="button-container">
    <button class="button" (click)="sortData('code')">Sortera efter kod</button>
    <button class="button" (click)="sortData('coursename')">Sortera efter kursnamn</button>
    <button class="button" (click)="sortData('progression')">Sortera efter progression</button>
  </div>

<ul class="course-list">
  <li *ngFor="let course of filteredCoursesList" class="course-item">
    {{ course.code }} - {{ course.coursename }} - {{ course.progression }}
  </li>
</ul>
