<h2 class="section-title">Ramschema</h2>

<div class="search-container">
  <input class="search-input" type="text" placeholder="Sök ..." [(ngModel)]="searchTerm" (input)="applyFilter()">
</div>


<div class="button-container">
    <button class="button" (click)="sortData('code')">Sortera efter kod</button>
    <button class="button" (click)="sortData('coursename')">Sortera efter kursnamn</button>
    <button class="button" (click)="sortData('progression')">Sortera efter progression</button>
  </div>

<table class="course-list">
  <thead>
    <tr>
      <th>Kurskod</th>
      <th>Kursnamn</th>
      <th>Progression</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of filteredCoursesList" class="course-item">
      <td>{{ course.code }}</td>
      <td>{{ course.coursename }}</td>
      <td>{{ course.progression }}</td>
    </tr>
  </tbody>
</table>
